extends layout

block content
  h1= "NODE"
  h2 Input your text, take the hash :))
    img(src='images/node.png', alt='Node Logo')
  form(action="/node/sha256", method="POST")
    input(name="phrase", type="string", placeholder="Type your more-than-7-character phrase here...")
    button(type="submit") Submit

    h2 input:
      content #{phrase_2}  
    h2 sha256:
      content #{hash_value_2}

  
  h2 Input your hash, take the value :))
  form(action="/node/sha256", method="GET")
    input(name="hash_value", type="string", placeholder="Type your hash here...")
    button(type="submit") Submit
    h2 input:
      content  #{phrase_1}  
    h2 sha256:
      content  #{hash_value_1}


